.button {
    outline: none;
    border: none;
    font-family: $fontFamily;
    font-weight: 700;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;

    &--primary {
        background-color: $moderateCyan;
        color: $white;
        flex: 1;

        &:hover {
            background-color: $darkCyan;
        }

        @include media-query(tablet) {
            flex: none;
        }
    }

    &--bookmark {
        background-color: $bookmarkBg;
        padding: 1.1rem 1.5rem 1rem 4.5rem;
        color: $darkGray;

        // &:hover {
        //     color: $darkCyan;
        // }
    }

    &--unavailable {
        background-color: $darkGray;
        color: $white;
    }
}