@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$moderateCyan: hsl(176, 50%, 47%);
$darkCyan: hsl(176, 72%, 28%);
$darkGray: hsl(0, 0%, 48%);
$lightGray: hsl(0, 0%, 98%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$bookmarkBg: hsl(0, 0%, 96%);
$fontFamily: "Commissioner", sans-serif;
